body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
  overflow-x: hidden;

}

* {
  font-family: Inter;
}

body {
  h1 {
    span {
      color: red;
    }
  }
}

.wrapper {
  background-color: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1200px;
  margin: 50px auto;
}

header {
  padding: 40px;
  border-bottom: 1px solid #eaeaea;

  img {
    margin-right: 15px;
  }
}

.content {
  h1 {
    margin: 0;
  }
}

h3,
p {
  margin: 0
}

.search-block {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;
  position: relative;

  .clear {
    position: absolute;
    right: 0;
    width: 22px;
    height: 22px;
    top: 13px;
    right: 15px;

  }

  input {

    border: 0;
    padding: 13px;
    font-size: 16px;
    width: 200px;
  }
}

.cartEmpty {
  .greenButton {
    position: relative;

    &:hover {
      .arrow {
        transform: translateX(-15px) rotate(180deg);
      }
    }
  }

  .arrow {
    position: absolute;
    transform: rotate(180deg);
    left: 30px;
    top: 21px;
  }

}

.cart {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 385px;
  height: 100%;
  right: 0;
  background-color: #FFFFFF;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 10px;

  .items {
    overflow: auto;
    flex: 1;
  }

  .cartItem {
    padding: 20px;
    border: 1px solid #e4e3e3;
    border-radius: 30px;
    overflow: hidden;

    span {
      font-size: 14px;
    }


  }

  .totalBlock {
    ul {
      margin-bottom: 10px;
    }

    li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;
    }

    div {
      flex: 1;
      height: 1px;
      border-bottom: 1px dashed #dfdfdf;
      position: relative;
      top: -4px;
      margin: 0 7px
    }

  }

  .greenButton {
    position: relative;

    img {
      position: absolute;
      right: 30px;
      top: 21px;
      transition: transform 0.3s ease-in-out;

    }

    &:hover {
      img {
        transform: translateX(15px);
      }
    }
  }

  h3 {
    margin: 0;
  }

  p {
    font-size: 14px;
    width: 155px;
    display: flex;
    margin: 0;
  }

  .cartRemove {
    opacity: 0.7;
    transition: opacity 0.1s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}

.cartImg {
  height: 80px;
  width: 80px;
  background-size: contain;
  background-position: 0 -7px;
  background-repeat: no-repeat;
  margin-right: 20px;
}

.greenButton {
  width: 100%;
  height: 55px;
  background-color: #9dd558;
  border-radius: 18px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  transition: background 0.2s ease-in-out;

  &:hover {
    background-color: lighten(#9dd558, 5%);
  }

  &:active {
    background-color: darken(#9dd558, 7%);
  }
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  width: 100%;
  height: 100%;

}